/* src/components/AnticlockwiseClock.css */
.clock {
    position: relative;
}

.hand {
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.hour {
    width: 4px;
    height: 30%;
    bottom: 50%;
    background-color: #000;
}

.minute {
    width: 3px;
    height: 40%;
    bottom: 50%;
    background-color: #000;
}

.second {
    width: 2px;
    height: 45%;
    bottom: 50%;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
